<h1>My app</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/test">Test</a>
        <a class="nav-item nav-link" routerLink="/news">News</a>
    </div>
    <div>
      <button class="btn btn-outline-primary"
      (click)="loginActionHandler()">{{ (isLoggedIn$ | async) ? 'Log Out' : 'Log In' }}</button>
    </div>
</nav>
<router-outlet></router-outlet>
